{{#extends 'base'}}

{{#block "content"}}

<div class="m-3">

    <ul>
        <li>
            <a href="product-related/category"> Categories </a>
        </li>
        <li>
            <a href="product-related/size"> Bottle Sizes </a>
        </li>
        <li>
            <a href="product-related/country"> Origin Countries </a>
        </li>
        <li>
            <a href="product-related/region"> Regions </a>
        </li>
        <li>
            <a href="product-related/grape-varietal"> Grape Varietal </a>
        </li>
        <li>
            <a href="product-related/producer"> Producers </a>
        </li>
    </ul>

</div>
{{/block}}

{{/extends}}