{{#extends 'base'}}

{{#block "content"}}
<div class="m-3">

    <h3>Updating {{size.name}} bottle size</h3>
    <form method="POST">

        {{{form}}}

        <input type="submit" class="btn btn-primary mt-3" />
    </form>

</div>


{{/block}}

{{/extends}}