{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{region.name}} as wine-producing region?
        <div class="mt-3">
            <a href="/product-related/region" class="btn btn-success btn-sm">Cancel</a>
            <input type="submit" class="btn btn-danger btn-sm" value="Confirm"/>
        </div>
    </div>

</form>

{{/block}}

{{/extends}}