{{#extends 'base'}}

{{#block "content"}}

<div class="m-3">

	<a role="button" class="btn btn-primary" href="/product-related/region/create">List New Region</a>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Action</th>

			</tr>
		</thead>
		<tbody>
			{{#each regions}}
			<tr>
				<td>{{this.id}}</td>
				<td>{{this.name}}</td>
				<td>
					<a class="btn btn-primary btn-sm" href="/product-related/region/{{this.id}}/update">Update</a>
					<a class="btn btn-danger btn-sm" href="/product-related/region/{{this.id}}/delete">Delete</a>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

</div>

{{/block}}

{{/extends}}