{{#extends 'base'}}

{{#block 'content'}}

<div class="m-3">
    <h1>Admin registration</h1>
    <p>Please register an admin account to access this website</p>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        {{{form}}}
        <input type="submit" class="btn btn-primary mt-3" value="Login" />
    </form>

</div>

{{/block}}

{{/extends}}