{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <div class="alert alert-danger">
        Are you sure you want to delete {{grapeVarietal.name}} as a grape varietal?
        <div class="mt-3">
            <a href="/product-related/grape-varietal" class="btn btn-success btn-sm">Cancel</a>
            <input type="submit" class="btn btn-danger btn-sm" value="Confirm"/>
        </div>
    </div>

</form>

{{/block}}

{{/extends}}